<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoadLoad</servlet-name>
        <servlet-class>controller.BoadLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoadInsertController</servlet-name>
        <servlet-class>controller.BoadInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SailorLoad</servlet-name>
        <servlet-class>controller.SailorLoad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoatUpdateController</servlet-name>
        <servlet-class>controller.BoatUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SailorInsertController</servlet-name>
        <servlet-class>controller.SailorInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOneBoat</servlet-name>
        <servlet-class>controller.GetOneBoat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterListLoadBySid</servlet-name>
        <servlet-class>controller.RegisterListLoadBySid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterListLoadByBid</servlet-name>
        <servlet-class>controller.RegisterListLoadByBid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserAtRegisterToList</servlet-name>
        <servlet-class>controller.InserAtRegisterToList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login-controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoadLoad</servlet-name>
        <url-pattern>/BoadLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoadInsertController</servlet-name>
        <url-pattern>/BoadInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SailorLoad</servlet-name>
        <url-pattern>/SailorLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoatUpdateController</servlet-name>
        <url-pattern>/BoatUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SailorInsertController</servlet-name>
        <url-pattern>/SailorInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOneBoat</servlet-name>
        <url-pattern>/GetOneBoat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterListLoadBySid</servlet-name>
        <url-pattern>/RegisterListLoadBySid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterListLoadByBid</servlet-name>
        <url-pattern>/RegisterListLoadByBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserAtRegisterToList</servlet-name>
        <url-pattern>/InserAtRegisterToList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
